body {
    background: #FFAAAA;
    color: #660000;
    margin: 0;
}

#header {
    font-style: 14px;
    font-weight: bold;
}

#content {
    background: #ffeeee;
    color: #990000;
    padding: 10px 20px 40px 20px;
}

#footer {
    text-align: right;
}